clean-ai-ccds-cx3LOaSakEvlgq9y.json
{"createdAt":"2025-04-23T20:57:11.965Z","updatedAt":"2025-05-09T11:22:06.000Z","id":"cx3LOaSakEvlgq9y","name":"CLEAN-AI-CCDS","active":false,"nodes":[{"parameters":{"resource":"fileFolder","queryString":"={{ $json.ccd  }}","filter":{"whatToSearch":"files"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-380,-880],"id":"74031a68-e4da-42ca-8097-2e3e881d6be0","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"xtz8F9Z7lAkHqlVy","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"binaryPropertyName":"ccdTemplateFile"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,-880],"id":"a9cb7af9-cd9a-4075-b833-43c57f2df05c","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"xtz8F9Z7lAkHqlVy","name":"Google Drive account"}}},{"parameters":{"operation":"text","binaryPropertyName":"ccdTemplateFile","destinationKey":"ccdTemplateString","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[280,-880],"id":"189c6f08-fb5b-43c6-bd7f-dcfe12522d2e","name":"Extract from File","alwaysOutputData":true},{"parameters":{"jsCode":"// Get the template string and JSON data\nlet template = $input.first().json.ccdTemplateString\nconst data = $('Loop Over Items').first().json.data\nconst {ccd} = $('Loop Over Items').first().json\n\nconsole.log(ccd)\n\nconsole.log('data', data);\n\n// Iterate through the keys in the JSON data\nfor (const key in data) {\n  if (data.hasOwnProperty(key)) {\n    // Create the placeholder pattern (e.g., \"{{Header 1}}\")\n    // Use a RegExp for global replacement (replaceAll equivalent)\n    const placeholder = new RegExp(`\\\\{\\\\{${key}\\\\}\\\\}`, 'g');\n    // Get the value - ensure it's a string\n    const value = String(data[key]);\n    // Replace all occurrences of the placeholder with the value\n    template = template.replace(placeholder, value);\n  }\n}\n\n// Return the filled template string in a new object\nreturn { ccdFilledString: template, product_system_name: data['product_system_name'], ccd };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-880],"id":"338e9b08-c294-4656-b423-dea634a15c3f","name":"Code"},{"parameters":{"operation":"toText","sourceProperty":"ccdFilledString","binaryPropertyName":"=ccdFile","options":{"fileName":"={{ $json.product_system_name }} - {{ $json.ccd }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[720,-880],"id":"018dd815-0490-42d2-b5d0-8eaecc3dabcb","name":"Convert to File"},{"parameters":{"inputDataFieldName":"ccdFile","name":"=","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1xAhHIW0B-Dlj_2Pj_wR5BaTpkZeAJd3b","mode":"list","cachedResultName":"N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1xAhHIW0B-Dlj_2Pj_wR5BaTpkZeAJd3b"},"options":{"propertiesUi":{"propertyValues":[{"key":"ccd","value":"={{ $('Filter').item.json.name }}"}]},"simplifyOutput":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[940,-800],"id":"c1b06d68-880e-4ea2-8ca4-2d072c928573","name":"Google Drive2","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"xtz8F9Z7lAkHqlVy","name":"Google Drive account"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"ccds\": []\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1040,-800],"id":"2687e4eb-94e7-4ea4-ad1f-7ee2a32a8b1e","name":"When Executed by Another Workflow"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-660,-1080],"id":"9946cd9d-d4b3-442d-b31d-dd67f921fbd1","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"ccds","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-820,-805],"id":"c327382e-1655-4dc5-a3a7-355eb0cf573c","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b74f0a16-575c-4ef6-9de1-21ae3dcc627c","leftValue":"={{ $json.name }}","rightValue":"={{ $('Loop Over Items').item.json.ccd }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-180,-880],"id":"8cfd3fb2-b775-40ae-8d1a-5150d3dd58db","name":"Filter"},{"parameters":{"jsCode":"let array = []\n\nfor (const item of $input.all()) {\n  console.log(item)\n  \n  const {json: {name, webViewLink, webContentLink, properties: {ccd}} } = item\n  \n  array.push({\n    name: name,\n    view_link: webViewLink,\n    download_link: webContentLink,\n    ccd,\n  })\n}\n\nconsole.log(array)\n\nreturn { generatedCcds: array}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,-1120],"id":"48560892-fcc8-4dee-a10a-e2a27a76c447","name":"Code1"}],"connections":{"Google Drive":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Google Drive","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"ccds":[{"ccd":"Algorithmic Impact Assessment.md","data":{"tool_type":"Natural Language Processing (NLP)","training_data source":"Publicly available dataset (e.g., Common Crawl, ImageNet, Wikipedia)","system_operators":"Healthcare Professionals","system_subjects":"Employees","function_description":"weqe","allocative_benefit":"Users will receive instant responses to queries.","allocative_harm":"Users will receive misleading or irrelevant responses to queries.","risk_level":"Very High Risk","compliance_lead_name":"Bartłomiej Sacha","compliance_lead_email":"bartlomiej.sacha@tdcm.io","product_system_name":"Health Sys Corp"}},{"ccd":"Fixed Impact Assessment.md","data":{"tool_type":"Natural Language Processing (NLP)","training_data source":"Publicly available dataset (e.g., Common Crawl, ImageNet, Wikipedia)","system_operators":"Healthcare Professionals","system_subjects":"Employees","function_description":"weqe","allocative_benefit":"Users will receive instant responses to queries.","allocative_harm":"Users will receive misleading or irrelevant responses to queries.","risk_level":"Very High Risk","compliance_lead_name":"Bartłomiej Sacha","compliance_lead_email":"bartlomiej.sacha@tdcm.io","product_system_name":"Test Sys Corp"}}]}}]},"versionId":"43999bc5-4a48-4de8-bd4b-2686e4c66c46","triggerCount":1,"tags":[]}